.Header{
    height:100%;
    display: flex;
    flex-direction: row;
    img{
        height:100px;
    }
    .HeaderLogoText{
        font: normal normal normal 22px 'Open Sans';
        margin: auto;
    }
}